/* PromptFont by Yukari "Shinmera" Hafner, accessible at https://shinmera.com/promptfont */
@font-face{font-family:"PromptFont";font-weight:normal;font-style:normal;src:url("promptfont.woff2")format("woff2"),url("promptfont.woff")format("woff"),url("promptfont.otf")format("opentype"),url("promptfont.ttf")format("truetype")}
.pf{font-family:"PromptFont";font-feature-settings:normal;font-style:normal;font-synthesis:none;font-variant:normal;font-weight:900;line-height:1;text-align:center;text-rendering:auto;display:inline-block;--pf-kind:"";}
.pf-1x{font-size:1em}.pf-2x{font-size:2em}.pf-3x{font-size:3em}.pf-4x{font-size:4em}.pf-5x{font-size:5em}.pf-6x{font-size:6em}.pf-7x{font-size:7em}.pf-8x{font-size:8em}.pf-9x{font-size:9em}.pf-10x{font-size:10em}.pf-fw{width:1.25em}.pf-ul{list-style-type:none;margin-inline-start:2.5em;padding-inline-start:0}.pf-ul>li{position:relative}.pf-ul>li>i{inset-inline-start:-2em;position:absolute;text-align:center;width:2em;line-height:inherit}.pf-r90{transform:rotate(90deg)}.pf-r180{transform:rotate(180deg)}.pf-r270{transform:rotate(270deg)}.pf-fh{transform:scaleX(-1)}.pf-fv{transform:scaleY(-1)}.pf-fhv,.pf-fh.pf-fv{transform:scale(-1)}
.pf-wide{--pf-kind:"\200B"}.pf-backfill{--pf-kind: "\200A"}
.pf-icon-arrow-left:before{content:"\2190" var(--pf-kind)}
.pf-icon-arrow-up:before{content:"\2191" var(--pf-kind)}
.pf-icon-arrow-right:before{content:"\2192" var(--pf-kind)}
.pf-icon-arrow-down:before{content:"\2193" var(--pf-kind)}
.pf-icon-exchange:before{content:"\2194" var(--pf-kind)}
.pf-icon-reverse:before{content:"\2195" var(--pf-kind)}
.pf-xbox-left-trigger:before{content:"\2196" var(--pf-kind)}
.pf-xbox-right-trigger:before{content:"\2197" var(--pf-kind)}
.pf-xbox-left-shoulder:before{content:"\2198" var(--pf-kind)}
.pf-xbox-right-shoulder:before{content:"\2199" var(--pf-kind)}
.pf-nintendo-left-trigger:before{content:"\219A" var(--pf-kind)}
.pf-nintendo-right-trigger:before{content:"\219B" var(--pf-kind)}
.pf-nintendo-left-shoulder:before{content:"\219C" var(--pf-kind)}
.pf-nintendo-right-shoulder:before{content:"\219D" var(--pf-kind)}
.pf-dpad-left:before{content:"\219E" var(--pf-kind)}
.pf-dpad-up:before{content:"\219F" var(--pf-kind)}
.pf-dpad-right:before{content:"\21A0" var(--pf-kind)}
.pf-dpad-down:before{content:"\21A1" var(--pf-kind)}
.pf-dpad-left-right:before{content:"\21A2" var(--pf-kind)}
.pf-dpad-up-down:before{content:"\21A3" var(--pf-kind)}
.pf-gamepad-x:before{content:"\21A4" var(--pf-kind)}
.pf-gamepad-y:before{content:"\21A5" var(--pf-kind)}
.pf-gamepad-b:before{content:"\21A6" var(--pf-kind)}
.pf-gamepad-a:before{content:"\21A7" var(--pf-kind)}
.pf-gamepad-buttons:before{content:"\21A8" var(--pf-kind)}
.pf-analog-l-clockwise:before{content:"\21A9" var(--pf-kind)}
.pf-analog-l-counter:before{content:"\21AA" var(--pf-kind)}
.pf-analog-r-clockwise:before{content:"\21AB" var(--pf-kind)}
.pf-analog-r-counter:before{content:"\21AC" var(--pf-kind)}
.pf-analog-lr-blockwise:before{content:"\21AD" var(--pf-kind)}
.pf-analog-lr-counter:before{content:"\21AE" var(--pf-kind)}
.pf-sony-left-shoulder:before{content:"\21B0" var(--pf-kind)}
.pf-sony-right-shoulder:before{content:"\21B1" var(--pf-kind)}
.pf-sony-left-trigger:before{content:"\21B2" var(--pf-kind)}
.pf-sony-right-trigger:before{content:"\21B3" var(--pf-kind)}
.pf-dpad-left-down:before{content:"\21B4" var(--pf-kind)}
.pf-gamepad-up-right:before{content:"\21B5" var(--pf-kind)}
.pf-analog-clockwise:before{content:"\21B6" var(--pf-kind)}
.pf-analog-counter:before{content:"\21B7" var(--pf-kind)}
.pf-analog-stick-click:before{content:"\21B8" var(--pf-kind)}
.pf-analog-click:before{content:"\21B9" var(--pf-kind)}
.pf-analog-l-click:before{content:"\21BA" var(--pf-kind)}
.pf-analog-r-click:before{content:"\21BB" var(--pf-kind)}
.pf-analog-l-left:before{content:"\21BC" var(--pf-kind)}
.pf-analog-r-left:before{content:"\21BD" var(--pf-kind)}
.pf-analog-l-up:before{content:"\21BE" var(--pf-kind)}
.pf-analog-r-up:before{content:"\21BF" var(--pf-kind)}
.pf-analog-l-right:before{content:"\21C0" var(--pf-kind)}
.pf-analog-r-right:before{content:"\21C1" var(--pf-kind)}
.pf-analog-l-down:before{content:"\21C2" var(--pf-kind)}
.pf-analog-r-down:before{content:"\21C3" var(--pf-kind)}
.pf-analog-l-left-right:before{content:"\21C4" var(--pf-kind)}
.pf-analog-l-up-down:before{content:"\21C5" var(--pf-kind)}
.pf-analog-r-left-right:before{content:"\21C6" var(--pf-kind)}
.pf-analog-left:before{content:"\21C7" var(--pf-kind)}
.pf-analog-up:before{content:"\21C8" var(--pf-kind)}
.pf-analog-right:before{content:"\21C9" var(--pf-kind)}
.pf-analog-down:before{content:"\21CA" var(--pf-kind)}
.pf-analog-l:before{content:"\21CB" var(--pf-kind)}
.pf-analog-r:before{content:"\21CC" var(--pf-kind)}
.pf-analog-stick:before{content:"\21CD" var(--pf-kind)}
.pf-dpad:before{content:"\21CE" var(--pf-kind)}
.pf-xbox-x:before{content:"\21D0" var(--pf-kind)}
.pf-xbox-y:before{content:"\21D1" var(--pf-kind)}
.pf-xbox-b:before{content:"\21D2" var(--pf-kind)}
.pf-xbox-a:before{content:"\21D3" var(--pf-kind)}
.pf-analog-left-right:before{content:"\21D4" var(--pf-kind)}
.pf-analog-up-down:before{content:"\21D5" var(--pf-kind)}
.pf-analog-up-left:before{content:"\21D6" var(--pf-kind)}
.pf-analog-up-right:before{content:"\21D7" var(--pf-kind)}
.pf-analog-down-right:before{content:"\21D8" var(--pf-kind)}
.pf-analog-down-left:before{content:"\21D9" var(--pf-kind)}
.pf-analog-l-touch:before{content:"\21DA" var(--pf-kind)}
.pf-analog-r-touch:before{content:"\21DB" var(--pf-kind)}
.pf-xbox-left-trigger-pull:before{content:"\21DC" var(--pf-kind)}
.pf-xbox-right-trigger-pull:before{content:"\21DD" var(--pf-kind)}
.pf-dpad-right-down:before{content:"\21DE" var(--pf-kind)}
.pf-dupad-left-up:before{content:"\21DF" var(--pf-kind)}
.pf-sony-x:before{content:"\21E0" var(--pf-kind)}
.pf-sony-y:before{content:"\21E1" var(--pf-kind)}
.pf-sony-b:before{content:"\21E2" var(--pf-kind)}
.pf-sony-a:before{content:"\21E3" var(--pf-kind)}
.pf-steam-menu:before{content:"\21E4" var(--pf-kind)}
.pf-steam-options:before{content:"\21E5" var(--pf-kind)}
.pf-sony-share:before{content:"\21E6" var(--pf-kind)}
.pf-sony-touchpad:before{content:"\21E7" var(--pf-kind)}
.pf-sony-options:before{content:"\21E8" var(--pf-kind)}
.pf-nintendo-button-z:before{content:"\21E9" var(--pf-kind)}
.pf-nintendo-trigger-z:before{content:"\21EA" var(--pf-kind)}
.pf-nintendo-c:before{content:"\21EB" var(--pf-kind)}
.pf-nintendo-z:before{content:"\21EC" var(--pf-kind)}
.pf-nintendo-1:before{content:"\21ED" var(--pf-kind)}
.pf-nintendo-2:before{content:"\21EE" var(--pf-kind)}
.pf-sony-left-stick:before{content:"\21EF" var(--pf-kind)}
.pf-sony-right-stick:before{content:"\21F0" var(--pf-kind)}
.pf-analog-l-any:before{content:"\21F1" var(--pf-kind)}
.pf-analog-r-any:before{content:"\21F2" var(--pf-kind)}
.pf-analog-any:before{content:"\21F3" var(--pf-kind)}
.pf-analog-r-up-down:before{content:"\21F5" var(--pf-kind)}
.pf-gamepad-select:before{content:"\21F7" var(--pf-kind)}
.pf-gamepad-start:before{content:"\21F8" var(--pf-kind)}
.pf-gamepad-home:before{content:"\21F9" var(--pf-kind)}
.pf-xbox-view:before{content:"\21FA" var(--pf-kind)}
.pf-xbox-menu:before{content:"\21FB" var(--pf-kind)}
.pf-nintendo-minus:before{content:"\21FD" var(--pf-kind)}
.pf-nintendo-plus:before{content:"\21FE" var(--pf-kind)}
.pf-nintendo-dpad-left:before{content:"\21FF" var(--pf-kind)}
.pf-nintendo-dpad-up:before{content:"\2200" var(--pf-kind)}
.pf-nintendo-dpad-right:before{content:"\2201" var(--pf-kind)}
.pf-nintendo-dpad-down:before{content:"\2202" var(--pf-kind)}
.pf-nintendo-joycon-sl:before{content:"\2203" var(--pf-kind)}
.pf-nintendo-joycon-sr:before{content:"\2204" var(--pf-kind)}
.pf-legion-settings:before{content:"\2205" var(--pf-kind)}
.pf-sony-dualsense-share:before{content:"\2206" var(--pf-kind)}
.pf-sony-dualsense-touchpad:before{content:"\2207" var(--pf-kind)}
.pf-sony-dualsense-options:before{content:"\2208" var(--pf-kind)}
.pf-ayaneo-lc:before{content:"\2209" var(--pf-kind)}
.pf-ayaneo-rc:before{content:"\220A" var(--pf-kind)}
.pf-ayaneo-wave:before{content:"\220B" var(--pf-kind)}
.pf-ayn-home:before{content:"\220C" var(--pf-kind)}
.pf-ayn-lcc:before{content:"\220D" var(--pf-kind)}
.pf-gpd-c1:before{content:"\220E" var(--pf-kind)}
.pf-gpd-c2:before{content:"\220F" var(--pf-kind)}
.pf-onexplayer-keyboard:before{content:"\2210" var(--pf-kind)}
.pf-onexplayer-turbo:before{content:"\2211" var(--pf-kind)}
.pf-gamepad-m1:before{content:"\2212" var(--pf-kind)}
.pf-gamepad-m2:before{content:"\2213" var(--pf-kind)}
.pf-gamepad-m3:before{content:"\2214" var(--pf-kind)}
.pf-gamepad-y1:before{content:"\2215" var(--pf-kind)}
.pf-gamepad-y2:before{content:"\2216" var(--pf-kind)}
.pf-gamepad-y3:before{content:"\2217" var(--pf-kind)}
.pf-onexplayer-function:before{content:"\2218" var(--pf-kind)}
.pf-onexplayer-home:before{content:"\2219" var(--pf-kind)}
.pf-gpd-menu:before{content:"\221A" var(--pf-kind)}
.pf-orangepi-controller:before{content:"\221B" var(--pf-kind)}
.pf-orangepi-home:before{content:"\221C" var(--pf-kind)}
.pf-zotac-zone-logo:before{content:"\221D" var(--pf-kind)}
.pf-zotac-zone-menu:before{content:"\221E" var(--pf-kind)}
.pf-gamepad-x-b:before{content:"\2225" var(--pf-kind)}
.pf-gamepad-a-y:before{content:"\2226" var(--pf-kind)}
.pf-gamepad-x-y:before{content:"\2227" var(--pf-kind)}
.pf-gamepad-b-y:before{content:"\2228" var(--pf-kind)}
.pf-gamepad-a-b:before{content:"\2229" var(--pf-kind)}
.pf-gamepad-x-a:before{content:"\222A" var(--pf-kind)}
.pf-button-press:before{content:"\222B" var(--pf-kind)}
.pf-button-double-press:before{content:"\222C" var(--pf-kind)}
.pf-button-hold-press:before{content:"\222D" var(--pf-kind)}
.pf-button-hold-release:before{content:"\222E" var(--pf-kind)}
.pf-button-hold:before{content:"\222F" var(--pf-kind)}
.pf-analog-fill:before{content:"\224A" var(--pf-kind)}
.pf-dpad-fill:before{content:"\224B" var(--pf-kind)}
.pf-gamepad-fill:before{content:"\224C" var(--pf-kind)}
.pf-shoulder-fill:before{content:"\224D" var(--pf-kind)}
.pf-trigger-fill:before{content:"\224E" var(--pf-kind)}
.pf-generic-fill:before{content:"\224F" var(--pf-kind)}
.pf-trackpad-l-any:before{content:"\2264" var(--pf-kind)}
.pf-trackpad-r-any:before{content:"\2265" var(--pf-kind)}
.pf-trackpad-l-click:before{content:"\2266" var(--pf-kind)}
.pf-trackpad-r-click:before{content:"\2267" var(--pf-kind)}
.pf-trackpad-l-touch:before{content:"\2268" var(--pf-kind)}
.pf-trackpad-r-touch:before{content:"\2269" var(--pf-kind)}
.pf-trackpad-l-left-right:before{content:"\226A" var(--pf-kind)}
.pf-trackpad-l-up-down:before{content:"\226B" var(--pf-kind)}
.pf-trackpad-r-left-right:before{content:"\226C" var(--pf-kind)}
.pf-trackpad-r-up-down:before{content:"\226D" var(--pf-kind)}
.pf-trackpad-l-left:before{content:"\226E" var(--pf-kind)}
.pf-trackpad-r-left:before{content:"\226F" var(--pf-kind)}
.pf-trackpad-l-up:before{content:"\2270" var(--pf-kind)}
.pf-trackpad-r-up:before{content:"\2271" var(--pf-kind)}
.pf-trackpad-l-right:before{content:"\2272" var(--pf-kind)}
.pf-trackpad-r-right:before{content:"\2273" var(--pf-kind)}
.pf-trackpad-l-down:before{content:"\2274" var(--pf-kind)}
.pf-trackpad-r-down:before{content:"\2275" var(--pf-kind)}
.pf-gamepad-l4:before{content:"\2276" var(--pf-kind)}
.pf-gamepad-r4:before{content:"\2277" var(--pf-kind)}
.pf-gamepad-l5:before{content:"\2278" var(--pf-kind)}
.pf-gamepad-r5:before{content:"\2279" var(--pf-kind)}
.pf-xbox-dpad-left:before{content:"\227A" var(--pf-kind)}
.pf-xbox-dpad-up:before{content:"\227B" var(--pf-kind)}
.pf-xbox-dpad-right:before{content:"\227C" var(--pf-kind)}
.pf-xbox-dpad-down:before{content:"\227D" var(--pf-kind)}
.pf-xbox-dpad-left-right:before{content:"\227E" var(--pf-kind)}
.pf-xbox-dpad-up-down:before{content:"\227F" var(--pf-kind)}
.pf-xbox-dpad-left-up:before{content:"\2280" var(--pf-kind)}
.pf-xbox-dpad-right-up:before{content:"\2281" var(--pf-kind)}
.pf-xbox-dpad-left-down:before{content:"\2282" var(--pf-kind)}
.pf-xbox-dpad-right-down:before{content:"\2283" var(--pf-kind)}
.pf-xbox-dpad:before{content:"\2284" var(--pf-kind)}
.pf-icon-pin:before{content:"\2316" var(--pf-kind)}
.pf-android-tabs:before{content:"\23CD" var(--pf-kind)}
.pf-android-back:before{content:"\23CE" var(--pf-kind)}
.pf-android-home:before{content:"\23CF" var(--pf-kind)}
.pf-android-horizontal-dots:before{content:"\23D0" var(--pf-kind)}
.pf-android-vertical-dots:before{content:"\23D1" var(--pf-kind)}
.pf-android-hamburger-menu:before{content:"\23D2" var(--pf-kind)}
.pf-icon-fast-forward:before{content:"\23E9" var(--pf-kind)}
.pf-icon-rewind:before{content:"\23EA" var(--pf-kind)}
.pf-icon-play:before{content:"\23EC" var(--pf-kind)}
.pf-icon-skip-forward:before{content:"\23ED" var(--pf-kind)}
.pf-icon-skip-backward:before{content:"\23EE" var(--pf-kind)}
.pf-icon-play-pause:before{content:"\23EF" var(--pf-kind)}
.pf-icon-hourglass:before{content:"\23F3" var(--pf-kind)}
.pf-keyboard-left:before{content:"\23F4" var(--pf-kind)}
.pf-keyboard-right:before{content:"\23F5" var(--pf-kind)}
.pf-keyboard-up:before{content:"\23F6" var(--pf-kind)}
.pf-keyboard-down:before{content:"\23F7" var(--pf-kind)}
.pf-icon-pause:before{content:"\23F8" var(--pf-kind)}
.pf-icon-stop:before{content:"\23F9" var(--pf-kind)}
.pf-icon-record:before{content:"\23FA" var(--pf-kind)}
.pf-icon-power:before{content:"\23FB" var(--pf-kind)}
.pf-icon-power-toggle:before{content:"\23FC" var(--pf-kind)}
.pf-keyboard-84562:before{content:"\2422" var(--pf-kind)}
.pf-keyboard-wasd:before{content:"\2423" var(--pf-kind)}
.pf-keyboard-arrows:before{content:"\2424" var(--pf-kind)}
.pf-keyboard-ijkl:before{content:"\2425" var(--pf-kind)}
.pf-keyboard-fn:before{content:"\2426" var(--pf-kind)}
.pf-keyboard-control:before{content:"\2427" var(--pf-kind)}
.pf-keyboard-alt:before{content:"\2428" var(--pf-kind)}
.pf-keyboard-shift:before{content:"\2429" var(--pf-kind)}
.pf-keyboard-super:before{content:"\242A" var(--pf-kind)}
.pf-keyboard-tab:before{content:"\242B" var(--pf-kind)}
.pf-keyboard-caps:before{content:"\242C" var(--pf-kind)}
.pf-keyboard-backspace:before{content:"\242D" var(--pf-kind)}
.pf-keyboard-enter:before{content:"\242E" var(--pf-kind)}
.pf-keyboard-escape:before{content:"\242F" var(--pf-kind)}
.pf-keyboard-print-screen:before{content:"\2430" var(--pf-kind)}
.pf-keyboard-scroll-lock:before{content:"\2431" var(--pf-kind)}
.pf-keyboard-pause:before{content:"\2432" var(--pf-kind)}
.pf-keyboard-num-lock:before{content:"\2433" var(--pf-kind)}
.pf-keyboard-insert:before{content:"\2434" var(--pf-kind)}
.pf-keyboard-home:before{content:"\2435" var(--pf-kind)}
.pf-keyboard-page-up:before{content:"\2436" var(--pf-kind)}
.pf-keyboard-delete:before{content:"\2437" var(--pf-kind)}
.pf-keyboard-end:before{content:"\2438" var(--pf-kind)}
.pf-keyboard-page-down:before{content:"\2439" var(--pf-kind)}
.pf-keyboard-space:before{content:"\243A" var(--pf-kind)}
.pf-key-empty-press:before{content:"\243B" var(--pf-kind)}
.pf-device-gamepad:before{content:"\243C" var(--pf-kind)}
.pf-device-keyboard:before{content:"\243D" var(--pf-kind)}
.pf-device-mouse:before{content:"\243E" var(--pf-kind)}
.pf-device-mouse-keyboard:before{content:"\243F" var(--pf-kind)}
.pf-device-ds4:before{content:"\2440" var(--pf-kind)}
.pf-device-dualsense:before{content:"\2441" var(--pf-kind)}
.pf-device-x360:before{content:"\2442" var(--pf-kind)}
.pf-device-numpad:before{content:"\2443" var(--pf-kind)}
.pf-keyboard-alt-gr:before{content:"\244A" var(--pf-kind)}
.pf-keyboard-alt-l:before{content:"\244B" var(--pf-kind)}
.pf-keyboard-alt-r:before{content:"\244C" var(--pf-kind)}
.pf-keyboard-control-l:before{content:"\244D" var(--pf-kind)}
.pf-keyboard-control-r:before{content:"\244E" var(--pf-kind)}
.pf-keyboard-shift-l:before{content:"\244F" var(--pf-kind)}
.pf-keyboard-shift-r:before{content:"\2450" var(--pf-kind)}
.pf-keyboard-option:before{content:"\2451" var(--pf-kind)}
.pf-keyboard-command:before{content:"\2452" var(--pf-kind)}
.pf-keyboard-f1:before{content:"\2460" var(--pf-kind)}
.pf-keyboard-f2:before{content:"\2461" var(--pf-kind)}
.pf-keyboard-f3:before{content:"\2462" var(--pf-kind)}
.pf-keyboard-f4:before{content:"\2463" var(--pf-kind)}
.pf-keyboard-f5:before{content:"\2464" var(--pf-kind)}
.pf-keyboard-f6:before{content:"\2465" var(--pf-kind)}
.pf-keyboard-f7:before{content:"\2466" var(--pf-kind)}
.pf-keyboard-f8:before{content:"\2467" var(--pf-kind)}
.pf-keyboard-f9:before{content:"\2468" var(--pf-kind)}
.pf-keyboard-f10:before{content:"\2469" var(--pf-kind)}
.pf-keyboard-f11:before{content:"\246A" var(--pf-kind)}
.pf-keyboard-f12:before{content:"\246B" var(--pf-kind)}
.pf-keyboard-numpad-1:before{content:"\2474" var(--pf-kind)}
.pf-keyboard-numpad-2:before{content:"\2475" var(--pf-kind)}
.pf-keyboard-numpad-3:before{content:"\2476" var(--pf-kind)}
.pf-keyboard-numpad-4:before{content:"\2477" var(--pf-kind)}
.pf-keyboard-numpad-5:before{content:"\2478" var(--pf-kind)}
.pf-keyboard-numpad-6:before{content:"\2479" var(--pf-kind)}
.pf-keyboard-numpad-7:before{content:"\247A" var(--pf-kind)}
.pf-keyboard-numpad-8:before{content:"\247B" var(--pf-kind)}
.pf-keyboard-numpad-9:before{content:"\247C" var(--pf-kind)}
.pf-keyboard-numpad-0:before{content:"\247D" var(--pf-kind)}
.pf-keyboard-numpad-dot:before{content:"\247E" var(--pf-kind)}
.pf-keyboard-numpad-enter:before{content:"\247F" var(--pf-kind)}
.pf-keyboard-numpad-minus:before{content:"\2480" var(--pf-kind)}
.pf-keyboard-numpad-plus:before{content:"\2481" var(--pf-kind)}
.pf-keyboard-numpad-slash:before{content:"\2482" var(--pf-kind)}
.pf-keyboard-numpad-star:before{content:"\2483" var(--pf-kind)}
.pf-keyboard-numpad-equals:before{content:"\2484" var(--pf-kind)}
.pf-keyboard-key:before{content:"\248F" var(--pf-kind)}
.pf-icon-1:before{content:"\24F5" var(--pf-kind)}
.pf-icon-2:before{content:"\24F6" var(--pf-kind)}
.pf-icon-3:before{content:"\24F7" var(--pf-kind)}
.pf-icon-4:before{content:"\24F8" var(--pf-kind)}
.pf-icon-5:before{content:"\24F9" var(--pf-kind)}
.pf-icon-6:before{content:"\24FA" var(--pf-kind)}
.pf-icon-7:before{content:"\24FB" var(--pf-kind)}
.pf-icon-8:before{content:"\24FC" var(--pf-kind)}
.pf-icon-9:before{content:"\24FD" var(--pf-kind)}
.pf-icon-0:before{content:"\24FF" var(--pf-kind)}
.pf-box-drawing-light-horizontal:before{content:"\2500" var(--pf-kind)}
.pf-box-drawing-heavy-horizontal:before{content:"\2501" var(--pf-kind)}
.pf-box-drawing-light-vertical:before{content:"\2502" var(--pf-kind)}
.pf-box-drawing-heavy-vertical:before{content:"\2503" var(--pf-kind)}
.pf-box-drawing-light-triple-dash-horizontal:before{content:"\2504" var(--pf-kind)}
.pf-box-drawing-heavy-triple-dash-horizontal:before{content:"\2505" var(--pf-kind)}
.pf-box-drawing-light-triple-dash-vertical:before{content:"\2506" var(--pf-kind)}
.pf-box-drawing-heavy-triple-dash-vertical:before{content:"\2507" var(--pf-kind)}
.pf-box-drawing-light-quadruple-dash-horizontal:before{content:"\2508" var(--pf-kind)}
.pf-box-drawing-heavy-quadruple-dash-horizontal:before{content:"\2509" var(--pf-kind)}
.pf-box-drawing-light-quadruple-dash-vertical:before{content:"\250A" var(--pf-kind)}
.pf-box-drawing-heavy-quadruple-dash-vertical:before{content:"\250B" var(--pf-kind)}
.pf-box-drawing-light-down-and-right:before{content:"\250C" var(--pf-kind)}
.pf-box-drawing-down-light-and-right-heavy:before{content:"\250D" var(--pf-kind)}
.pf-box-drawing-down-heavy-and-right-light:before{content:"\250E" var(--pf-kind)}
.pf-box-drawing-heavy-down-and-right:before{content:"\250F" var(--pf-kind)}
.pf-box-drawing-light-down-and-left:before{content:"\2510" var(--pf-kind)}
.pf-box-drawing-down-light-and-left-heavy:before{content:"\2511" var(--pf-kind)}
.pf-box-drawing-down-heavy-and-left-light:before{content:"\2512" var(--pf-kind)}
.pf-box-drawing-heavy-down-and-left:before{content:"\2513" var(--pf-kind)}
.pf-box-drawing-light-up-and-right:before{content:"\2514" var(--pf-kind)}
.pf-box-drawing-up-light-and-right-heavy:before{content:"\2515" var(--pf-kind)}
.pf-box-drawing-up-heavy-and-right-light:before{content:"\2516" var(--pf-kind)}
.pf-box-drawing-heavy-up-and-right:before{content:"\2517" var(--pf-kind)}
.pf-box-drawing-light-up-and-left:before{content:"\2518" var(--pf-kind)}
.pf-box-drawing-up-light-and-left-heavy:before{content:"\2519" var(--pf-kind)}
.pf-box-drawing-up-heavy-and-left-light:before{content:"\251A" var(--pf-kind)}
.pf-box-drawing-heavy-up-and-left:before{content:"\251B" var(--pf-kind)}
.pf-box-drawing-light-vertical-and-right:before{content:"\251C" var(--pf-kind)}
.pf-box-drawing-vertical-light-and-right-heavy:before{content:"\251D" var(--pf-kind)}
.pf-box-drawing-up-heavy-and-right-down-light:before{content:"\251E" var(--pf-kind)}
.pf-box-drawing-down-heavy-and-right-up-light:before{content:"\251F" var(--pf-kind)}
.pf-box-drawing-vertical-heavy-and-right-light:before{content:"\2520" var(--pf-kind)}
.pf-box-drawing-down-light-and-right-up-heavy:before{content:"\2521" var(--pf-kind)}
.pf-box-drawing-up-light-and-right-down-heavy:before{content:"\2522" var(--pf-kind)}
.pf-box-drawing-heavy-vertical-and-right:before{content:"\2523" var(--pf-kind)}
.pf-box-drawing-light-vertical-and-left:before{content:"\2524" var(--pf-kind)}
.pf-box-drawing-vertical-light-and-left-heavy:before{content:"\2525" var(--pf-kind)}
.pf-box-drawing-up-heavy-and-left-down-light:before{content:"\2526" var(--pf-kind)}
.pf-box-drawing-down-heavy-and-left-up-light:before{content:"\2527" var(--pf-kind)}
.pf-box-drawing-vertical-heavy-and-left-light:before{content:"\2528" var(--pf-kind)}
.pf-box-drawing-down-light-and-left-up-heavy:before{content:"\2529" var(--pf-kind)}
.pf-box-drawing-up-light-and-left-down-heavy:before{content:"\252A" var(--pf-kind)}
.pf-box-drawing-heavy-vertical-and-left:before{content:"\252B" var(--pf-kind)}
.pf-box-drawing-light-down-and-horizontal:before{content:"\252C" var(--pf-kind)}
.pf-box-drawing-left-heavy-and-right-down-light:before{content:"\252D" var(--pf-kind)}
.pf-box-drawing-right-heavy-and-left-down-light:before{content:"\252E" var(--pf-kind)}
.pf-box-drawing-down-light-and-horizontal-heavy:before{content:"\252F" var(--pf-kind)}
.pf-box-drawing-down-heavy-and-horizontal-light:before{content:"\2530" var(--pf-kind)}
.pf-box-drawing-right-light-and-left-down-heavy:before{content:"\2531" var(--pf-kind)}
.pf-box-drawing-left-light-and-right-down-heavy:before{content:"\2532" var(--pf-kind)}
.pf-box-drawing-heavy-down-and-horizontal:before{content:"\2533" var(--pf-kind)}
.pf-box-drawing-light-up-and-horizontal:before{content:"\2534" var(--pf-kind)}
.pf-box-drawing-left-heavy-and-right-up-light:before{content:"\2535" var(--pf-kind)}
.pf-box-drawing-right-heavy-and-left-up-light:before{content:"\2536" var(--pf-kind)}
.pf-box-drawing-up-light-and-horizontal-heavy:before{content:"\2537" var(--pf-kind)}
.pf-box-drawing-up-heavy-and-horizontal-light:before{content:"\2538" var(--pf-kind)}
.pf-box-drawing-right-light-and-left-up-heavy:before{content:"\2539" var(--pf-kind)}
.pf-box-drawing-left-light-and-right-up-heavy:before{content:"\253A" var(--pf-kind)}
.pf-box-drawing-heavy-up-and-horizontal:before{content:"\253B" var(--pf-kind)}
.pf-box-drawing-light-vertical-and-horizontal:before{content:"\253C" var(--pf-kind)}
.pf-box-drawing-left-heavy-and-right-vertical-light:before{content:"\253D" var(--pf-kind)}
.pf-box-drawing-right-heavy-and-left-vertical-light:before{content:"\253E" var(--pf-kind)}
.pf-box-drawing-vertical-light-and-horizontal-heavy:before{content:"\253F" var(--pf-kind)}
.pf-box-drawing-up-heavy-and-down-horizontal-light:before{content:"\2540" var(--pf-kind)}
.pf-box-drawing-down-heavy-and-up-horizontal-light:before{content:"\2541" var(--pf-kind)}
.pf-box-drawing-vertical-heavy-and-horizontal-light:before{content:"\2542" var(--pf-kind)}
.pf-box-drawing-left-up-heavy-and-right-down-light:before{content:"\2543" var(--pf-kind)}
.pf-box-drawing-right-up-heavy-and-left-down-light:before{content:"\2544" var(--pf-kind)}
.pf-box-drawing-left-down-heavy-and-right-up-light:before{content:"\2545" var(--pf-kind)}
.pf-box-drawing-right-down-heavy-and-left-up-light:before{content:"\2546" var(--pf-kind)}
.pf-box-drawing-down-light-and-up-horizontal-heavy:before{content:"\2547" var(--pf-kind)}
.pf-box-drawing-up-light-and-down-horizontal-heavy:before{content:"\2548" var(--pf-kind)}
.pf-box-drawing-right-light-and-left-vertical-heavy:before{content:"\2549" var(--pf-kind)}
.pf-box-drawing-left-light-and-right-vertical-heavy:before{content:"\254A" var(--pf-kind)}
.pf-box-drawing-heavy-vertical-and-horizontal:before{content:"\254B" var(--pf-kind)}
.pf-box-drawing-light-double-dash-horizontal:before{content:"\254C" var(--pf-kind)}
.pf-box-drawing-heavy-double-dash-horizontal:before{content:"\254D" var(--pf-kind)}
.pf-box-drawing-light-double-dash-vertical:before{content:"\254E" var(--pf-kind)}
.pf-box-drawing-heavy-double-dash-vertical:before{content:"\254F" var(--pf-kind)}
.pf-box-drawing-light-diagonal-upper-right-to-lower-left:before{content:"\2571" var(--pf-kind)}
.pf-box-drawing-light-diagonal-upper-left-to-lower-right:before{content:"\2572" var(--pf-kind)}
.pf-box-drawing-light-diagonal-cross:before{content:"\2573" var(--pf-kind)}
.pf-box-drawing-light-left:before{content:"\2574" var(--pf-kind)}
.pf-box-drawing-light-up:before{content:"\2575" var(--pf-kind)}
.pf-box-drawing-light-right:before{content:"\2576" var(--pf-kind)}
.pf-box-drawing-light-down:before{content:"\2577" var(--pf-kind)}
.pf-box-drawing-heavy-left:before{content:"\2578" var(--pf-kind)}
.pf-box-drawing-heavy-up:before{content:"\2579" var(--pf-kind)}
.pf-box-drawing-heavy-right:before{content:"\257A" var(--pf-kind)}
.pf-box-drawing-heavy-down:before{content:"\257B" var(--pf-kind)}
.pf-box-drawing-light-left-and-heavy-right:before{content:"\257C" var(--pf-kind)}
.pf-box-drawing-light-up-and-heavy-down:before{content:"\257D" var(--pf-kind)}
.pf-box-drawing-heavy-left-and-light-right:before{content:"\257E" var(--pf-kind)}
.pf-box-drawing-heavy-up-and-light-down:before{content:"\257F" var(--pf-kind)}
.pf-box-drawing-upper-half-block:before{content:"\2580" var(--pf-kind)}
.pf-box-drawing-lower-one-eighth-block:before{content:"\2581" var(--pf-kind)}
.pf-box-drawing-lower-one-quarter-block:before{content:"\2582" var(--pf-kind)}
.pf-box-drawing-lower-three-eighths-block:before{content:"\2583" var(--pf-kind)}
.pf-box-drawing-lower-half-block:before{content:"\2584" var(--pf-kind)}
.pf-box-drawing-lower-five-eighths-block:before{content:"\2585" var(--pf-kind)}
.pf-box-drawing-lower-three-quarters-block:before{content:"\2586" var(--pf-kind)}
.pf-box-drawing-lower-seven-eighths-block:before{content:"\2587" var(--pf-kind)}
.pf-box-drawing-full-block:before{content:"\2588" var(--pf-kind)}
.pf-box-drawing-left-seven-eighths-block:before{content:"\2589" var(--pf-kind)}
.pf-box-drawing-left-three-quarters-block:before{content:"\258A" var(--pf-kind)}
.pf-box-drawing-left-five-eighths-block:before{content:"\258B" var(--pf-kind)}
.pf-box-drawing-left-half-block:before{content:"\258C" var(--pf-kind)}
.pf-box-drawing-left-three-eighths-block:before{content:"\258D" var(--pf-kind)}
.pf-box-drawing-left-one-quarter-block:before{content:"\258E" var(--pf-kind)}
.pf-box-drawing-left-one-eighth-block:before{content:"\258F" var(--pf-kind)}
.pf-box-drawing-right-half-block:before{content:"\2590" var(--pf-kind)}
.pf-box-drawing-light-shade:before{content:"\2591" var(--pf-kind)}
.pf-box-drawing-medium-shade:before{content:"\2592" var(--pf-kind)}
.pf-box-drawing-dark-shade:before{content:"\2593" var(--pf-kind)}
.pf-box-drawing-upper-one-eighth-block:before{content:"\2594" var(--pf-kind)}
.pf-box-drawing-right-one-eighth-block:before{content:"\2595" var(--pf-kind)}
.pf-box-drawing-quadrant-lower-left:before{content:"\2596" var(--pf-kind)}
.pf-box-drawing-quadrant-lower-right:before{content:"\2597" var(--pf-kind)}
.pf-box-drawing-quadrant-upper-left:before{content:"\2598" var(--pf-kind)}
.pf-box-drawing-quadrant-upper-left-and-lower-left-and-lower-right:before{content:"\2599" var(--pf-kind)}
.pf-box-drawing-quadrant-upper-left-and-lower-right:before{content:"\259A" var(--pf-kind)}
.pf-box-drawing-quadrant-upper-left-and-upper-right-and-lower-left:before{content:"\259B" var(--pf-kind)}
.pf-box-drawing-quadrant-upper-left-and-upper-right-and-lower-right:before{content:"\259C" var(--pf-kind)}
.pf-box-drawing-quadrant-upper-right:before{content:"\259D" var(--pf-kind)}
.pf-box-drawing-quadrant-upper-right-and-lower-left:before{content:"\259E" var(--pf-kind)}
.pf-box-drawing-quadrant-upper-right-and-lower-left-and-lower-right:before{content:"\259F" var(--pf-kind)}
.pf-box-drawing-black-lower-right-triangle:before{content:"\25E2" var(--pf-kind)}
.pf-box-drawing-black-lower-left-triangle:before{content:"\25E3" var(--pf-kind)}
.pf-box-drawing-black-upper-left-triangle:before{content:"\25E4" var(--pf-kind)}
.pf-box-drawing-black-upper-right-triangle:before{content:"\25E5" var(--pf-kind)}
.pf-icon-sun:before{content:"\2600" var(--pf-kind)}
.pf-icon-star:before{content:"\2605" var(--pf-kind)}
.pf-icon-empty-star:before{content:"\2606" var(--pf-kind)}
.pf-icon-checkbox:before{content:"\2610" var(--pf-kind)}
.pf-icon-checkbox-ticked:before{content:"\2611" var(--pf-kind)}
.pf-icon-checkbox-crossed:before{content:"\2612" var(--pf-kind)}
.pf-icon-skull:before{content:"\2620" var(--pf-kind)}
.pf-icon-warning-radioactive:before{content:"\2622" var(--pf-kind)}
.pf-icon-warning-biohazard:before{content:"\2623" var(--pf-kind)}
.pf-icon-frown:before{content:"\2639" var(--pf-kind)}
.pf-icon-smile:before{content:"\263A" var(--pf-kind)}
.pf-icon-sun-white:before{content:"\263C" var(--pf-kind)}
.pf-icon-gender-female:before{content:"\2640" var(--pf-kind)}
.pf-icon-gender-male:before{content:"\2642" var(--pf-kind)}
.pf-icon-full-spade:before{content:"\2660" var(--pf-kind)}
.pf-icon-empty-heart:before{content:"\2661" var(--pf-kind)}
.pf-icon-empty-diamond:before{content:"\2662" var(--pf-kind)}
.pf-icon-full-club:before{content:"\2663" var(--pf-kind)}
.pf-icon-empty-spade:before{content:"\2664" var(--pf-kind)}
.pf-icon-full-heart:before{content:"\2665" var(--pf-kind)}
.pf-icon-full-diamond:before{content:"\2666" var(--pf-kind)}
.pf-icon-empty-club:before{content:"\2667" var(--pf-kind)}
.pf-icon-d4:before{content:"\2673" var(--pf-kind)}
.pf-icon-d6:before{content:"\2674" var(--pf-kind)}
.pf-icon-d8:before{content:"\2675" var(--pf-kind)}
.pf-icon-d10:before{content:"\2676" var(--pf-kind)}
.pf-icon-d12:before{content:"\2677" var(--pf-kind)}
.pf-icon-d20:before{content:"\2678" var(--pf-kind)}
.pf-icon-d6-1:before{content:"\2680" var(--pf-kind)}
.pf-icon-d6-2:before{content:"\2681" var(--pf-kind)}
.pf-icon-d6-3:before{content:"\2682" var(--pf-kind)}
.pf-icon-d6-4:before{content:"\2683" var(--pf-kind)}
.pf-icon-d6-5:before{content:"\2684" var(--pf-kind)}
.pf-icon-d6-6:before{content:"\2685" var(--pf-kind)}
.pf-icon-flag:before{content:"\2691" var(--pf-kind)}
.pf-icon-gears:before{content:"\2699" var(--pf-kind)}
.pf-icon-warning-sign:before{content:"\26A0" var(--pf-kind)}
.pf-icon-sex-lesbian:before{content:"\26A2" var(--pf-kind)}
.pf-icon-sex-gay:before{content:"\26A3" var(--pf-kind)}
.pf-icon-sex-straight:before{content:"\26A4" var(--pf-kind)}
.pf-icon-gender-intersex:before{content:"\26A5" var(--pf-kind)}
.pf-icon-gender-asexual:before{content:"\26A6" var(--pf-kind)}
.pf-icon-gender-trans:before{content:"\26A7" var(--pf-kind)}
.pf-icon-gender-nonbinary:before{content:"\26A8" var(--pf-kind)}
.pf-icon-sex-bisexual:before{content:"\26A9" var(--pf-kind)}
.pf-icon-sex-neuter:before{content:"\26B2" var(--pf-kind)}
.pf-icon-stat-defense:before{content:"\26E8" var(--pf-kind)}
.pf-icon-scissors:before{content:"\2702" var(--pf-kind)}
.pf-icon-tickmark:before{content:"\2714" var(--pf-kind)}
.pf-icon-cross:before{content:"\2717" var(--pf-kind)}
.pf-icon-crossmark:before{content:"\2718" var(--pf-kind)}
.pf-icon-spark:before{content:"\2726" var(--pf-kind)}
.pf-icon-question:before{content:"\2753" var(--pf-kind)}
.pf-icon-bang:before{content:"\2757" var(--pf-kind)}
.pf-mouse-1:before{content:"\278A" var(--pf-kind)}
.pf-mouse-2:before{content:"\278B" var(--pf-kind)}
.pf-mouse-3:before{content:"\278C" var(--pf-kind)}
.pf-mouse-4:before{content:"\278D" var(--pf-kind)}
.pf-mouse-5:before{content:"\278E" var(--pf-kind)}
.pf-mouse-6:before{content:"\278F" var(--pf-kind)}
.pf-mouse-7:before{content:"\2790" var(--pf-kind)}
.pf-mouse-8:before{content:"\2791" var(--pf-kind)}
.pf-mouse-fill:before{content:"\2792" var(--pf-kind)}
.pf-mouse-scroll-left:before{content:"\27EE" var(--pf-kind)}
.pf-mouse-scroll-right:before{content:"\27EF" var(--pf-kind)}
.pf-mouse-scroll-up:before{content:"\27F0" var(--pf-kind)}
.pf-mouse-scroll-down:before{content:"\27F1" var(--pf-kind)}
.pf-mouse-scroll-up-down:before{content:"\27F2" var(--pf-kind)}
.pf-mouse-scroll-left-right:before{content:"\27F3" var(--pf-kind)}
.pf-mouse-scroll-any:before{content:"\27F4" var(--pf-kind)}
.pf-mouse-left:before{content:"\27F5" var(--pf-kind)}
.pf-mouse-right:before{content:"\27F6" var(--pf-kind)}
.pf-mouse-middle:before{content:"\27F7" var(--pf-kind)}
.pf-mouse-move-left:before{content:"\27F8" var(--pf-kind)}
.pf-mouse-move-up:before{content:"\27F9" var(--pf-kind)}
.pf-mouse-left-right:before{content:"\27FA" var(--pf-kind)}
.pf-mouse-up-down:before{content:"\27FB" var(--pf-kind)}
.pf-mouse-any:before{content:"\27FC" var(--pf-kind)}
.pf-mouse-move-right:before{content:"\27FD" var(--pf-kind)}
.pf-mouse-move-down:before{content:"\27FE" var(--pf-kind)}
.pf-icon-box:before{content:"\2B1B" var(--pf-kind)}
.pf-icon-resize-left:before{content:"\2B60" var(--pf-kind)}
.pf-ican-expand-up:before{content:"\2B61" var(--pf-kind)}
.pf-icon-resize-right:before{content:"\2B62" var(--pf-kind)}
.pf-icon-resize-down:before{content:"\2B63" var(--pf-kind)}
.pf-icon-resize-horizontal:before{content:"\2B64" var(--pf-kind)}
.pf-icon-resize-vertical:before{content:"\2B65" var(--pf-kind)}
.pf-icon-resize-diagonal-down:before{content:"\2B66" var(--pf-kind)}
.pf-icon-resize-diagonal-up:before{content:"\2B67" var(--pf-kind)}
.pf-icon-resize-cardinal:before{content:"\2B68" var(--pf-kind)}
.pf-icon-resize-diagonal:before{content:"\2B69" var(--pf-kind)}
.pf-icon-redo:before{content:"\2B6E" var(--pf-kind)}
.pf-icon-undo:before{content:"\2B6F" var(--pf-kind)}
.pf-icon-paste:before{content:"\2B70" var(--pf-kind)}
.pf-icon-upload:before{content:"\2B71" var(--pf-kind)}
.pf-icon-copy:before{content:"\2B72" var(--pf-kind)}
.pf-icon-download:before{content:"\2B73" var(--pf-kind)}
.pf-icon-playstation:before{content:"\E000" var(--pf-kind)}
.pf-icon-xbox:before{content:"\E001" var(--pf-kind)}
.pf-icon-nintendo-switch:before{content:"\E002" var(--pf-kind)}
.pf-icon-ayaneo:before{content:"\E003" var(--pf-kind)}
.pf-icon-lenovo-legion:before{content:"\E004" var(--pf-kind)}
.pf-rog-ally-armoury:before{content:"\E005" var(--pf-kind)}
.pf-rog-ally-command:before{content:"\E006" var(--pf-kind)}
.pf-icon-mac:before{content:"\E007" var(--pf-kind)}
.pf-icon-windows:before{content:"\E008" var(--pf-kind)}
.pf-icon-linux:before{content:"\E009" var(--pf-kind)}
.pf-icon-bsd:before{content:"\E00A" var(--pf-kind)}
.pf-icon-steam:before{content:"\E00B" var(--pf-kind)}
.pf-icon-itch-io:before{content:"\E00C" var(--pf-kind)}
.pf-icon-humble:before{content:"\E00D" var(--pf-kind)}
.pf-icon-epic-game-store:before{content:"\E00E" var(--pf-kind)}
.pf-icon-good-old-games:before{content:"\E00F" var(--pf-kind)}
.pf-msi-claw-center:before{content:"\E010" var(--pf-kind)}
.pf-msi-claw-quick:before{content:"\E011" var(--pf-kind)}
.pf-icon-meta:before{content:"\E012" var(--pf-kind)}
.pf-icon-shirakumo:before{content:"\E013" var(--pf-kind)}
.pf-icon-trial:before{content:"\E014" var(--pf-kind)}
.pf-icon-unity:before{content:"\E015" var(--pf-kind)}
.pf-icon-godot:before{content:"\E016" var(--pf-kind)}
.pf-icon-gms:before{content:"\E017" var(--pf-kind)}
.pf-icon-unreal:before{content:"\E018" var(--pf-kind)}
.pf-icon-love2d:before{content:"\E019" var(--pf-kind)}
.pf-keyboard-zenkaku-hankaku:before{content:"\FF00" var(--pf-kind)}
.pf-keyboard-exclamation:before{content:"\FF01" var(--pf-kind)}
.pf-keyboard-doublequote:before{content:"\FF02" var(--pf-kind)}
.pf-keyboard-pound:before{content:"\FF03" var(--pf-kind)}
.pf-keyboard-dollar:before{content:"\FF04" var(--pf-kind)}
.pf-keyboard-percent:before{content:"\FF05" var(--pf-kind)}
.pf-keyboard-ampersand:before{content:"\FF06" var(--pf-kind)}
.pf-keyboard-quote:before{content:"\FF07" var(--pf-kind)}
.pf-keyboard-open-parenthesis:before{content:"\FF08" var(--pf-kind)}
.pf-keyboard-close-parenthesis:before{content:"\FF09" var(--pf-kind)}
.pf-keyboard-star:before{content:"\FF0A" var(--pf-kind)}
.pf-keyboard-plus:before{content:"\FF0B" var(--pf-kind)}
.pf-keyboard-comma:before{content:"\FF0C" var(--pf-kind)}
.pf-keyboard-dash:before{content:"\FF0D" var(--pf-kind)}
.pf-keyboard-period:before{content:"\FF0E" var(--pf-kind)}
.pf-keyboard-slash:before{content:"\FF0F" var(--pf-kind)}
.pf-keyboard-0:before{content:"\FF10" var(--pf-kind)}
.pf-keyboard-1:before{content:"\FF11" var(--pf-kind)}
.pf-keyboard-2:before{content:"\FF12" var(--pf-kind)}
.pf-keyboard-3:before{content:"\FF13" var(--pf-kind)}
.pf-keyboard-4:before{content:"\FF14" var(--pf-kind)}
.pf-keyboard-5:before{content:"\FF15" var(--pf-kind)}
.pf-keyboard-6:before{content:"\FF16" var(--pf-kind)}
.pf-keyboard-7:before{content:"\FF17" var(--pf-kind)}
.pf-keyboard-8:before{content:"\FF18" var(--pf-kind)}
.pf-keyboard-9:before{content:"\FF19" var(--pf-kind)}
.pf-keyboard-colon:before{content:"\FF1A" var(--pf-kind)}
.pf-keyboard-semicolon:before{content:"\FF1B" var(--pf-kind)}
.pf-keyboard-open-caret:before{content:"\FF1C" var(--pf-kind)}
.pf-keyboard-equals:before{content:"\FF1D" var(--pf-kind)}
.pf-keyboard-close-caret:before{content:"\FF1E" var(--pf-kind)}
.pf-keyboard-question-mark:before{content:"\FF1F" var(--pf-kind)}
.pf-keyboard-at:before{content:"\FF20" var(--pf-kind)}
.pf-keyboard-a:before{content:"\FF21" var(--pf-kind)}
.pf-keyboard-b:before{content:"\FF22" var(--pf-kind)}
.pf-keyboard-c:before{content:"\FF23" var(--pf-kind)}
.pf-keyboard-d:before{content:"\FF24" var(--pf-kind)}
.pf-keyboard-e:before{content:"\FF25" var(--pf-kind)}
.pf-keyboard-f:before{content:"\FF26" var(--pf-kind)}
.pf-keyboard-g:before{content:"\FF27" var(--pf-kind)}
.pf-keyboard-h:before{content:"\FF28" var(--pf-kind)}
.pf-keyboard-i:before{content:"\FF29" var(--pf-kind)}
.pf-keyboard-j:before{content:"\FF2A" var(--pf-kind)}
.pf-keyboard-k:before{content:"\FF2B" var(--pf-kind)}
.pf-keyboard-l:before{content:"\FF2C" var(--pf-kind)}
.pf-keyboard-m:before{content:"\FF2D" var(--pf-kind)}
.pf-keyboard-n:before{content:"\FF2E" var(--pf-kind)}
.pf-keyboard-o:before{content:"\FF2F" var(--pf-kind)}
.pf-keyboard-p:before{content:"\FF30" var(--pf-kind)}
.pf-keyboard-q:before{content:"\FF31" var(--pf-kind)}
.pf-keyboard-r:before{content:"\FF32" var(--pf-kind)}
.pf-keyboard-s:before{content:"\FF33" var(--pf-kind)}
.pf-keyboard-t:before{content:"\FF34" var(--pf-kind)}
.pf-keyboard-u:before{content:"\FF35" var(--pf-kind)}
.pf-keyboard-v:before{content:"\FF36" var(--pf-kind)}
.pf-keyboard-w:before{content:"\FF37" var(--pf-kind)}
.pf-keyboard-x:before{content:"\FF38" var(--pf-kind)}
.pf-keyboard-y:before{content:"\FF39" var(--pf-kind)}
.pf-keyboard-z:before{content:"\FF3A" var(--pf-kind)}
.pf-keyboard-open-bracket:before{content:"\FF3B" var(--pf-kind)}
.pf-keyboard-backslash:before{content:"\FF3C" var(--pf-kind)}
.pf-keyboard-close-bracket:before{content:"\FF3D" var(--pf-kind)}
.pf-keyboard-caret:before{content:"\FF3E" var(--pf-kind)}
.pf-keyboard-underscore:before{content:"\FF3F" var(--pf-kind)}
.pf-keyboard-backtick:before{content:"\FF40" var(--pf-kind)}
.pf-keyboard-a-diaeresis:before{content:"\FF41" var(--pf-kind)}
.pf-keyboard-a-grave:before{content:"\FF42" var(--pf-kind)}
.pf-keyboard-cedille:before{content:"\FF43" var(--pf-kind)}
.pf-keyboard-e-acute:before{content:"\FF45" var(--pf-kind)}
.pf-keyboard-e-grave:before{content:"\FF46" var(--pf-kind)}
.pf-keyboard-o-diaeresis:before{content:"\FF4F" var(--pf-kind)}
.pf-keyboard-u-diaeresis:before{content:"\FF55" var(--pf-kind)}
.pf-keyboard-u-grave:before{content:"\FF56" var(--pf-kind)}
.pf-keyboard-open-brace:before{content:"\FF5B" var(--pf-kind)}
.pf-keyboard-bar:before{content:"\FF5C" var(--pf-kind)}
.pf-keyboard-close-brace:before{content:"\FF5D" var(--pf-kind)}
.pf-keyboard-tilde:before{content:"\FF5E" var(--pf-kind)}
.pf-keyboard-kana:before{content:"\FF76" var(--pf-kind)}
.pf-keyboard-henkan:before{content:"\FF8D" var(--pf-kind)}
.pf-keyboard-muhekan:before{content:"\FF8F" var(--pf-kind)}
.pf-keyboard-backfill:before{content:"\FFA0" var(--pf-kind)}
.pf-icon-bone-broken:before{content:"\1312F" var(--pf-kind)}
.pf-icon-italic:before{content:"\1D62A" var(--pf-kind)}
.pf-icon-bold:before{content:"\1D756" var(--pf-kind)}
.pf-icon-stat-psychic:before{content:"\1F300" var(--pf-kind)}
.pf-icon-water:before{content:"\1F30A" var(--pf-kind)}
.pf-icon-moon-new:before{content:"\1F311" var(--pf-kind)}
.pf-icon-moon-crescent-waxing:before{content:"\1F312" var(--pf-kind)}
.pf-icon-moon-quarter-first:before{content:"\1F313" var(--pf-kind)}
.pf-icon-moon-gibbous-waxing:before{content:"\1F314" var(--pf-kind)}
.pf-icon-moon-full:before{content:"\1F315" var(--pf-kind)}
.pf-icon-moon-gibbous-waning:before{content:"\1F316" var(--pf-kind)}
.pf-icon-moon-quarter-last:before{content:"\1F317" var(--pf-kind)}
.pf-icon-moon-crescent-waning:before{content:"\1F318" var(--pf-kind)}
.pf-icon-moon:before{content:"\1F319" var(--pf-kind)}
.pf-icon-stat-dark:before{content:"\1F31A" var(--pf-kind)}
.pf-icon-weather-sunny:before{content:"\1F323" var(--pf-kind)}
.pf-icon-weather-cloudy:before{content:"\1F324" var(--pf-kind)}
.pf-icon-weather-overcast:before{content:"\1F325" var(--pf-kind)}
.pf-icon-weather-rainy:before{content:"\1F326" var(--pf-kind)}
.pf-icon-weather-rain:before{content:"\1F327" var(--pf-kind)}
.pf-icon-weather-snow:before{content:"\1F328" var(--pf-kind)}
.pf-icon-lightning:before{content:"\1F329" var(--pf-kind)}
.pf-icon-wind:before{content:"\1F32C" var(--pf-kind)}
.pf-icon-item:before{content:"\1F372" var(--pf-kind)}
.pf-icon-microphone:before{content:"\1F3A4" var(--pf-kind)}
.pf-icon-headphones:before{content:"\1F3A7" var(--pf-kind)}
.pf-icon-music:before{content:"\1F3B6" var(--pf-kind)}
.pf-icon-action-run:before{content:"\1F3C3" var(--pf-kind)}
.pf-icon-stat-speed:before{content:"\1F3CE" var(--pf-kind)}
.pf-icon-stat-piercing:before{content:"\1F3F9" var(--pf-kind)}
.pf-icon-fish:before{content:"\1F41F" var(--pf-kind)}
.pf-icon-eye:before{content:"\1F441" var(--pf-kind)}
.pf-icon-point-up:before{content:"\1F446" var(--pf-kind)}
.pf-icon-point-down:before{content:"\1F447" var(--pf-kind)}
.pf-icon-point-left:before{content:"\1F448" var(--pf-kind)}
.pf-icon-point-right:before{content:"\1F449" var(--pf-kind)}
.pf-icon-stat-bludgeoning:before{content:"\1F44A" var(--pf-kind)}
.pf-icon-thumbs-up:before{content:"\1F44D" var(--pf-kind)}
.pf-icon-thumbs-down:before{content:"\1F44E" var(--pf-kind)}
.pf-icon-stat-poison:before{content:"\1F480" var(--pf-kind)}
.pf-device-dance-pad:before{content:"\1F483" var(--pf-kind)}
.pf-icon-stat-acid:before{content:"\1F4A7" var(--pf-kind)}
.pf-icon-stat-strength:before{content:"\1F4AA" var(--pf-kind)}
.pf-icon-bubble-speech:before{content:"\1F4AC" var(--pf-kind)}
.pf-icon-money-bag:before{content:"\1F4B0" var(--pf-kind)}
.pf-icon-laptop:before{content:"\1F4BB" var(--pf-kind)}
.pf-icon-diskette:before{content:"\1F4BE" var(--pf-kind)}
.pf-icon-optical-disc:before{content:"\1F4BF" var(--pf-kind)}
.pf-icon-file-folder:before{content:"\1F4C1" var(--pf-kind)}
.pf-icon-file-folder-open:before{content:"\1F4C2" var(--pf-kind)}
.pf-icon-clipboard:before{content:"\1F4CB" var(--pf-kind)}
.pf-icon-code:before{content:"\1F4DC" var(--pf-kind)}
.pf-icon-write:before{content:"\1F4DD" var(--pf-kind)}
.pf-icon-console:before{content:"\1F4DF" var(--pf-kind)}
.pf-device-phone:before{content:"\1F4F1" var(--pf-kind)}
.pf-icon-reception-good:before{content:"\1F4F6" var(--pf-kind)}
.pf-icon-webcam:before{content:"\1F4F7" var(--pf-kind)}
.pf-icon-warning-flashing:before{content:"\1F4F8" var(--pf-kind)}
.pf-icon-camera:before{content:"\1F4F9" var(--pf-kind)}
.pf-icon-speaker:before{content:"\1F4FE" var(--pf-kind)}
.pf-icon-shuffle:before{content:"\1F500" var(--pf-kind)}
.pf-icon-loop:before{content:"\1F501" var(--pf-kind)}
.pf-icon-loop-once:before{content:"\1F502" var(--pf-kind)}
.pf-icon-brightness-low:before{content:"\1F505" var(--pf-kind)}
.pf-icon-brightness-high:before{content:"\1F506" var(--pf-kind)}
.pf-icon-volume-muted:before{content:"\1F507" var(--pf-kind)}
.pf-icon-volume-quiet:before{content:"\1F508" var(--pf-kind)}
.pf-icon-volume-medium:before{content:"\1F509" var(--pf-kind)}
.pf-icon-volume-loud:before{content:"\1F50A" var(--pf-kind)}
.pf-icon-battery-full:before{content:"\1F50B" var(--pf-kind)}
.pf-icon-electrical-plug:before{content:"\1F50C" var(--pf-kind)}
.pf-icon-magnifying-glass:before{content:"\1F50D" var(--pf-kind)}
.pf-icon-magnifying-glass-right:before{content:"\1F50E" var(--pf-kind)}
.pf-icon-key:before{content:"\1F511" var(--pf-kind)}
.pf-icon-lock:before{content:"\1F512" var(--pf-kind)}
.pf-icon-lock-open:before{content:"\1F513" var(--pf-kind)}
.pf-icon-bell:before{content:"\1F514" var(--pf-kind)}
.pf-icon-bell-muted:before{content:"\1F515" var(--pf-kind)}
.pf-icon-rating-18:before{content:"\1F51E" var(--pf-kind)}
.pf-icon-fire:before{content:"\1F525" var(--pf-kind)}
.pf-icon-stat-light:before{content:"\1F526" var(--pf-kind)}
.pf-icon-action-attack:before{content:"\1F52A" var(--pf-kind)}
.pf-device-light-gun:before{content:"\1F52B" var(--pf-kind)}
.pf-icon-microphone-muted:before{content:"\1F568" var(--pf-kind)}
.pf-icon-noise:before{content:"\1F56C" var(--pf-kind)}
.pf-icon-network-ping:before{content:"\1F56D" var(--pf-kind)}
.pf-icon-crossbones:before{content:"\1F571" var(--pf-kind)}
.pf-icon-warning-phobia:before{content:"\1F577" var(--pf-kind)}
.pf-device-steering-wheel:before{content:"\1F578" var(--pf-kind)}
.pf-device-joy-stick:before{content:"\1F579" var(--pf-kind)}
.pf-device-vr-headset:before{content:"\1F57B" var(--pf-kind)}
.pf-device-vr-controller:before{content:"\1F57C" var(--pf-kind)}
.pf-device-flight-stick:before{content:"\1F57D" var(--pf-kind)}
.pf-icon-network-connected:before{content:"\1F57E" var(--pf-kind)}
.pf-icon-network-connecting:before{content:"\1F57F" var(--pf-kind)}
.pf-icon-network-disconnected:before{content:"\1F580" var(--pf-kind)}
.pf-icon-network-wired:before{content:"\1F587" var(--pf-kind)}
.pf-icon-underline:before{content:"\1F589" var(--pf-kind)}
.pf-icon-strikethrough:before{content:"\1F58A" var(--pf-kind)}
.pf-icon-supertext:before{content:"\1F58B" var(--pf-kind)}
.pf-icon-subtext:before{content:"\1F58C" var(--pf-kind)}
.pf-icon-foreground:before{content:"\1F58D" var(--pf-kind)}
.pf-icon-background:before{content:"\1F58E" var(--pf-kind)}
.pf-icon-stat-health:before{content:"\1F5A4" var(--pf-kind)}
.pf-icon-processor:before{content:"\1F5A5" var(--pf-kind)}
.pf-icon-internet:before{content:"\1F5A7" var(--pf-kind)}
.pf-icon-graphics-card:before{content:"\1F5A8" var(--pf-kind)}
.pf-icon-memory:before{content:"\1F5AA" var(--pf-kind)}
.pf-icon-usb-stick:before{content:"\1F5AB" var(--pf-kind)}
.pf-icon-database:before{content:"\1F5AC" var(--pf-kind)}
.pf-icon-hard-disk:before{content:"\1F5B4" var(--pf-kind)}
.pf-icon-screen:before{content:"\1F5B5" var(--pf-kind)}
.pf-icon-text-entry:before{content:"\1F5B9" var(--pf-kind)}
.pf-icon-image:before{content:"\1F5BC" var(--pf-kind)}
.pf-icon-window-minimize:before{content:"\1F5D5" var(--pf-kind)}
.pf-icon-window-maximize:before{content:"\1F5D6" var(--pf-kind)}
.pf-icon-window-overlap:before{content:"\1F5D7" var(--pf-kind)}
.pf-icon-window-close:before{content:"\1F5D9" var(--pf-kind)}
.pf-icon-size-increase:before{content:"\1F5DA" var(--pf-kind)}
.pf-icon-size-decrease:before{content:"\1F5DB" var(--pf-kind)}
.pf-icon-stat-slashing:before{content:"\1F5E1" var(--pf-kind)}
.pf-icon-speak:before{content:"\1F5E3" var(--pf-kind)}
.pf-icon-bubble-speech-right:before{content:"\1F5E8" var(--pf-kind)}
.pf-icon-language:before{content:"\1F5E9" var(--pf-kind)}
.pf-icon-bubble-speech-two:before{content:"\1F5EA" var(--pf-kind)}
.pf-icon-bubble-speech-three:before{content:"\1F5EB" var(--pf-kind)}
.pf-icon-bubble-thought-right:before{content:"\1F5EC" var(--pf-kind)}
.pf-icon-bubble-thought:before{content:"\1F5ED" var(--pf-kind)}
.pf-icon-bubble-scream-right:before{content:"\1F5EE" var(--pf-kind)}
.pf-icon-bubble-scream:before{content:"\1F5EF" var(--pf-kind)}
.pf-icon-warning-swearing:before{content:"\1F5F1" var(--pf-kind)}
.pf-icon-warning-photosensitivity:before{content:"\1F5F2" var(--pf-kind)}
.pf-icon-map:before{content:"\1F5FA" var(--pf-kind)}
.pf-icon-battery-charging:before{content:"\1F650" var(--pf-kind)}
.pf-icon-battery-medium:before{content:"\1F651" var(--pf-kind)}
.pf-icon-battery-empty:before{content:"\1F652" var(--pf-kind)}
.pf-icon-reception-bad:before{content:"\1F653" var(--pf-kind)}
.pf-icon-reception-medium:before{content:"\1F654" var(--pf-kind)}
.pf-icon-rating-0:before{content:"\1F655" var(--pf-kind)}
.pf-icon-rating-3:before{content:"\1F656" var(--pf-kind)}
.pf-icon-rating-6:before{content:"\1F657" var(--pf-kind)}
.pf-icon-rating-9:before{content:"\1F658" var(--pf-kind)}
.pf-icon-rating-12:before{content:"\1F659" var(--pf-kind)}
.pf-icon-rating-16:before{content:"\1F65A" var(--pf-kind)}
.pf-icon-rating-21:before{content:"\1F65B" var(--pf-kind)}
.pf-icon-exit:before{content:"\1F6AA" var(--pf-kind)}
.pf-icon-denied:before{content:"\1F6C7" var(--pf-kind)}
.pf-icon-information:before{content:"\1F6C8" var(--pf-kind)}
.pf-icon-shopping-cart:before{content:"\1F6D2" var(--pf-kind)}
.pf-icon-network-wireless:before{content:"\1F6DC" var(--pf-kind)}
.pf-icon-action-defend:before{content:"\1F6E1" var(--pf-kind)}
.pf-icon-aperture:before{content:"\1F789" var(--pf-kind)}
.pf-icon-bone:before{content:"\1F9B4" var(--pf-kind)}
.pf-icon-ice:before{content:"\1F9CA" var(--pf-kind)}
.pf-icon-accessory:before{content:"\1F9E3" var(--pf-kind)}
.pf-icon-armor:before{content:"\1F9E5" var(--pf-kind)}
.pf-icon-compass:before{content:"\1F9ED" var(--pf-kind)}
.pf-icon-stat-magic:before{content:"\1FA84" var(--pf-kind)}
.pf-icon-weapon:before{content:"\1FA93" var(--pf-kind)}
.pf-icon-earth:before{content:"\1FAA8" var(--pf-kind)}
.pf-box-drawing-upper-and-right-and-lower-triangular-three-quarters-block:before{content:"\1FB68" var(--pf-kind)}
.pf-box-drawing-left-and-lower-and-right-triangular-three-quarters-block:before{content:"\1FB69" var(--pf-kind)}
.pf-box-drawing-upper-and-left-and-lower-triangular-three-quarters-block:before{content:"\1FB6A" var(--pf-kind)}
.pf-box-drawing-left-and-upper-and-right-triangular-three-quarters-block:before{content:"\1FB6B" var(--pf-kind)}
.pf-box-drawing-left-triangular-one-quarter-block:before{content:"\1FB6C" var(--pf-kind)}
.pf-box-drawing-upper-triangular-one-quarter-block:before{content:"\1FB6D" var(--pf-kind)}
.pf-box-drawing-right-triangular-one-quarter-block:before{content:"\1FB6E" var(--pf-kind)}
.pf-box-drawing-lower-triangular-one-quarter-block:before{content:"\1FB6F" var(--pf-kind)}
.pf-box-drawing-upper-one-quarter-block:before{content:"\1FB82" var(--pf-kind)}
.pf-box-drawing-upper-three-eighths-block:before{content:"\1FB83" var(--pf-kind)}
.pf-box-drawing-upper-five-eighths-block:before{content:"\1FB84" var(--pf-kind)}
.pf-box-drawing-upper-three-quarters-block:before{content:"\1FB85" var(--pf-kind)}
.pf-box-drawing-upper-seven-eighths-block:before{content:"\1FB86" var(--pf-kind)}
.pf-box-drawing-right-one-quarter-block:before{content:"\1FB87" var(--pf-kind)}
.pf-box-drawing-right-three-eighths-block:before{content:"\1FB88" var(--pf-kind)}
.pf-box-drawing-right-five-eighths-block:before{content:"\1FB89" var(--pf-kind)}
.pf-box-drawing-right-three-quarters-block:before{content:"\1FB8A" var(--pf-kind)}
.pf-box-drawing-right-seven-eighths-block:before{content:"\1FB8B" var(--pf-kind)}
